.side-drawer {
  height: 100%;
  background: #323757;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 300px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer a {
  color: #fbf5ef;
  text-decoration: none;
}

.side-drawer.open {
  transform: translateX(0);
}

.headerMenuItem {
  color: #dedfe8;
  text-align: left;
  font-size: larger;
}

.menuItem {
  color: #f6f7fc;
  text-align: right;
  margin: 10px 20px 10px 0;
}

.menuItem a:hover {
  background-color: #e0607f;
  color: white;
  padding: 6px 10px 6px 10px;
  border-radius: 20px;
  margin: 0 -10px 0 -10px;
}
